name: deploy

env:
  IMAGE_REPOSITORY: ChurchAccountingWebBackend
  CONTAINER_1_NAME: ChurchAccountingWebBackend_1
  CONTAINER_2_NAME: ChurchAccountingWebBackend_2
  CONTAINER_PORT: 8000
  EC2_INSTANCE_TAG_NAME: church-accounting-ec2-1
  DOCKER_NETWORK: common

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

on:
  push:
    - ".github/workflows/**"
    - "src"
    - "pyproject.toml"
    - "Dockerfile"
    - "docker-compose.yaml"
    - "alembic"
    - "static"

  branches:
    - main

permissions:
  contents: write
  packages: write

defaults:
  run:
    shell: bash

jobs:

  makeTagAndRelease:
    runs-on: ubuntu-latest
    outputs:
      tag_name: ${{ steps.create_tag.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4

      - name: Create Tag
        id: create_tag
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.create_tag.outputs.new_tag }}
          release_name: Release ${{ steps.create_tag.outputs.new_tag }}
          body: ${{ steps.create_tag.outputs.changelog }}
          draft: false
          prerelease: false

  buildImageAndPush:
    name: 도커 이미지 빌드와 푸시
    needs: makeTagAndRelease
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: .env 파일 생성
        env:
          DOT_ENV: ${{ secrets.DOT_ENV }}
          DOT_PROD_ENV: ${{ secrets.DOT_PROD_ENV }}
        run: |
          printf "%s" "${DOT_ENV}" > "${{ .env }}"
          printf "%s" ""

      - name: Docker Buildx 설치
        uses: docker/setup-buildx-action@v3

      - name: 레지스트리 로그인
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: set lower case owner name
        run: |
          echo "OWNER_LC=${OWNER,,}" >> "%{GITHUB_ENV}"
        env:
          OWNER: "${{ github.repository_owner }}"

      - name: 빌드 앤 푸시
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/${{ env.OWNER_LC }}/${{ env.IMAGE_REPOSITORY }}:${{ needs.makeTagAndRelease.outputs.tag_name }}
            ghcr.io/${{ env.OWNER_LC }}/${{ env.IMAGE_REPOSITORY }}:latest